@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* min-width: 320px;
  min-height: 100vh;
  margin: 30px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center; */
}
